<div class="card" style="width: 400px; height: fit-content;">
    <div class="card-header text-center">
        <h2>Bank account</h2>
    </div>
    <div class="card-body">
        <form class="row g-3" method="post" action="/pay/deposit">
            <div class="col-12">
                <label for="username" style="font-weight: bold;">Username</label>
                <input type="text" class="form-control"  id="username" name="username"
                    value="{{username}}" readonly />
            </div>
            <div class="col-12">
                <label for="username" style="font-weight: bold;">Balance</label>
                <input type="text" class="form-control" id="balance" name="balance"
                    value="{{balance}}"  readonly />
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Nạp tiền</button>
            </div>
        </form>
    </div>
</div>